{% extends "gestao_clientes_pacientes/base.html" %}

{% block title %}Home - Gestão de Clientes e Pacientes{% endblock %}

{% block content %}
<h2>Bem-vindo ao Sistema de Gestão</h2>
<p>Escolha uma das opções abaixo para gerenciar Tutores e Pets.</p>
<div class="button-container">
    <a href="{% url 'lista_tutores' %}" class="nav-button">
        <button class="styled-button">Tutores</button>
    </a>  
    <a href="{% url 'lista_pacientes' %}" class="nav-button">
        <button class="styled-button">Pets</button>
    </a>  
</div>
{% endblock %}
