<div class="sidebar" id="sidebar">
    <button class="close-btn" id="close-btn">&times;</button>
    <div class="sidebar-content">
        <h2>Busca e Filtros</h2>
        <form method="GET" action="{% url 'search' %}">
            <div class="input-group">
                <input type="text" name="query" placeholder="Buscar por nome, CPF ou Pet" class="input-field">
            </div>
            <h3>Filtros</h3>
            <div class="input-group">
                <label for="filter-cliente">Nome do Cliente:</label>
                <input type="text" id="filter-cliente" name="filter-cliente" class="input-field">
            </div>
            <div class="input-group">
                <label for="filter-paciente">Nome do Paciente:</label>
                <input type="text" id="filter-paciente" name="filter-paciente" class="input-field">
            </div>
            <div class="input-group">
                <label for="filter-especie">Espécie:</label>
                <select id="filter-especie" name="filter-especie" class="input-field">
                    <option value="">Selecione</option>
                    <option value="cao">Cão</option>
                    <option value="gato">Gato</option>
                    <option value="ave">Ave</option>
                </select>
            </div>
            <div class="input-group">
                <label for="filter-cpf">CPF do Tutor:</label>
                <input type="text" id="filter-cpf" name="filter-cpf" class="input-field">
            </div>
            <button type="submit" class="submit-btn">Buscar</button>
        </form>
    </div>
</div>
